body {
	background: #fff url(images/pattern.png);
	width: 80%;
	margin: 0 auto;
	color: #34A0C7;
}

#nav h1 {
	font-family: Lucida Console;
	font-size: 4em;
	margin-bottom: 15px;
	font-weight: 300;
}

#nav h3 {
	font-family: Lucida Console;
	font-size: 2em;
	margin: -20px 0 0 0;
	font-weight: 300;
}

#nav ul {
	border-bottom: 1px solid #000;
	padding: 0 0 25px 0;
	text-align: right;
}

#nav li {
	display: inline;
	margin: 15px 15px 0 0;
}

#nav a {
	color : #00678D;
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	font-size: 1.1em;
}


#nav a:visited {
	color: #00678D;
}

p {
	font-family: Lucida Console;
	font-size: 1em;
}

.direc-name p {
	font-family: Helvetica, sans-serif;
	text-align: center;	
	font-size: 1.5em;
	line-height: 5px;
}

.footer {
	font-family: Helvetica, sans-serif;
	font-size: .7em;
	margin-top: 35px;
}

.info {
	border: 1px solid #000;
	border-radius: 25px 25px 5px 5px;
	padding: 10px 15px 0 15px;
}

.info li {
	list-style: none;
	font-family: Lucida Console;
	font-size: 1em;
	line-height: 25px;
}

.info li a {
	color: #08A9E4;
	text-decoration: none;
	font-weight: 700;
}

.hover {
	color: #FFFFFF;
}
