body {
	background: #E8E8E8;
	width: 100%;
}

#back button {
	font-size: 15px;
	font-weight: 800;
	padding: 8px;
	border: 2px solid;
	background: #969696;
	border-radius: 5px;
} #back button:hover { background: #FF000D; color: #FFFFFF; }

#back a {
	color: #FFFFFF;
	text-decoration: none;
}

/* Experiment 1 */

#ex-1 {
	width: 650px;
	height: 300px;
	margin: 0 auto;
}

#ex-1 .display {
	margin: 50px 0 0 0;
	text-align: center;
	width: 650px;
	height: 300px;
	border: 2px solid;
	padding: 10px 10px 5px 10px;
}
.display .one {
	margin: 0 0 0 0;
	font-family: helvetica;
	font-size: 1.8em;
	border-bottom: 1px solid #000000;
	padding-bottom: 5px;
}

#message-entered {
	font-family: Lucida console;
	font-size: 1.2em;
	font-weight: 200;
	text-align: left;
	margin-top: 5px;
	color: #000000;
	border: 0px;
	line-height: 5px;

} 
 
#ex-1 .button {
	margin: 20px auto 0 auto;
	text-align: center;
}

#ex-1 .button button {
	width: 150px;
	height: 150px;
	color: #FFFFFF;
	background: #D6131D;
	border: 3px solid #000000;
	border-radius: 50%;
	padding: 50px;
	font-size: 20px;
} #ex-1 .button button:active {
	border-color: #FFFFFF; }

#ex-1 .message {
	text-align: center;
	display: block;
	margin: 20px 0 20px 0;
}
#ex-1 .message input {
	width: 400px;
}

/* Experiment 2 */

#ex2 p  {
	text-align: center;
}

#shape {
	
	background: #FFFFFF;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	border-radius: 20px;
	border: 1px dotted #000000;
}

#randomizer {
	text-align: center;
	margin: 15px 0 15px 0;
}

#randomizer button {
	color: #FFFFFF;
	background:	
	-webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
	background:	
	-moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
	background:	
	-o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
	background:	
	-ms-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);	
	width: 180px;
	height: 50px;
	border: 1px solid;
	border-radius:10px; 
}

#choosecolor {
	text-align: center;
}

#choosecolor button {
	color: #FFFFFF;		
	background:	
	-webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
	background:	
	-moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
	background:	
	-o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
	background:	
	-ms-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);	
	width: 120px;
	border: 1px solid;
	border-radius: 5px;
}

.colorchosen {
	margin: 5px 0 0 0;
}

#colors {
	width: 220px;
}
